.courseSubject
{
    background-image:url(./backgroundSubject.png);
}
.bg2
{
    background-image:url(./bgh2Subject.png);
    height: 50%;
    background-position: center center;
    background-size: cover;
    z-index: -1;


}
.courseSubject h2
{
    font-size: 36px;
    margin-top: 178px;
    position: relative;

}
.courseSubject h2::after
{
    content: "";
    width: 140px;
    height: 13px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    z-index: -1;
    background-color: rgba(255, 236, 179, 1);
}


.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 4px;
    width: 190px;
    height: 48px;
    color: black;
    color: #000 !important;
    font-weight: 700;
    margin-top: 44px;
    justify-content: center;
    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #E8F6E6;
    color: #43B933 !important;
    border-bottom:2px solid #43B933 ;
    border-radius: 0px;
}

.nav
{
    justify-content: center;
}
/* ------- Slider------- */
