@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@300&display=swap');

.background {
    background: linear-gradient(176.64deg, rgba(235, 235, 235, 0.43) 19.55%, #E7F6E5 89.02%);
    background-image: url(./../../Components/Home/bg.png);
    background-position: center center;
    background-size: cover ;
}

/* .homeImage img {
    width: 596.86px;
    height: 435.79px;
} */

.descImg h1 {
    font-size: 40px !important;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    line-height: 57px;
}

.descImg span {
    font-family: 'Segoe UI';
    font-size: 40px;
    font-weight: 800;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    line-height: 57px;
}
.btnSignUp {
    width: auto;
    border: 1px solid rgba(20, 168, 0, 1);
    padding: 7px 12px 7px 12px;
    size: 14px;
    line-height: 24px;
    border-radius: 4px;
    font-weight: 700;
    align-items: center;
    background-color: #14A800;
    color: #fff !important;
    
}
button i
{
    color: white;
}
.input
{
   
    padding-left: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    height:70px ;
    z-index: 11111;
}
.searchIcon
{
    border-radius: 8px;
}
.inputContainerBtns
{
    right: 10px;
}
.inputContainericon
{
    left: 0px;
}
.inputContainericon i
{
    color: #8392A5 !important;

}
.inputContainerBtns button
{
    margin-left: 15px;
}
@media (max-width: 992.88px) {
    .descImg  h1,span
    {
        font-size: 25px !important;
        
    }
    
}
@media (min-width: 993px)and (max-width: 1199px) {
    .descImg  h1,span
    {
        font-size: 28px !important;
    }
   
}
