.live{
    margin-top: 178px;
}
.liveTitle
{
    background-image: url("./bg-live.png");
    background-position: center center;
    z-index: -1;
}
.featuresBg {
    width: 160px;
    height: 35px;
    background: #D0EECC;
    border-radius: 8px;
}
.bg-lamp
{
    background-image: url("./lamp.png") ;
    background-repeat: no-repeat;
    transform: translateX(60%);
    z-index: -1;
}
.liveTitle h6 {
    height: 25px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.liveTitle h2 {
    width: auto !important;
    font-size: 36px;
    margin-top: 178px;
    position: relative;
    line-height: 58px;
    /* background-image: url("./cloudRoomh2bg.png"); */
    background-repeat: no-repeat;
    background-position: center center;

}

.liveTitle h2::after {
    content: "";
    width: 140px;
    height: 13px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    z-index: -1;
    background-color: rgba(255, 236, 179, 1);
}